
@{
    // Layout = "_LayoutPayal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index View From Person Controller.</h2>

</body>
</html>
